{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "8.10"
        },
        "shippedProposals": true,
        "useBuiltIns": "usage",
        "corejs": "3.0.0",
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}